{% extends "base.html" %} {% block title %}Cart{% endblock %} {% block content %}
<form>
  <h3 align="center">Your Cart</h3>
{% set total = 0 %}
<table class="table table-striped">
  <tr><th>Product Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>

  {% for item in cart_items %}
  <tr><td>{{item.name}}</td><td>{{item.image}}</td><td>${{ "%.2f" % item.price}}</td><td>${{ "%.2f" % (4 * item.price)}}</td></tr>
  {% set total = (total + item.price) %}
  {% endfor %}

</table>
<div style="padding: 10px; width: fit-content;">
  <h4>Cart Total: {{ cart_total }}/-</h4>
  <a class="btn btn-large btn-primary">Check Out</a>
</div>
{% endblock %}